@import '../../../public/styles.css';

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  position: relative;
}

.expenses {
  min-width: 100rem;
}

.edit-modal {
  position: absolute;
  top: 50%;
}
