.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  position: relative;
  max-width: 100%;
  column-gap: 10rem;
  margin-top: 2rem;
}

.table-heading {
  margin-bottom: 1rem;
}

.expenses {
  min-width: 100rem;
}

.expenses-body {
  overflow: auto;
  height: 99rem;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.edit-modal {
  position: absolute;
  top: 0;
  z-index: 999;
}

.footer {
  position: absolute;
  bottom: 1%;
}
