.expenses {
  display: flex;
  justify-content: center;
  margin-left: 4rem;
  font-family: sans-serif;
}

.th-sort {
  cursor: pointer;
}

table {
  width: 100rem;
  table-layout: fixed;
  border-spacing: 0.6rem;
}

th {
  font-size: 1.8rem;
  font-family: 'Fredoka One', sans-serif;
  color: #022521da;
}

td.cell {
  text-align: center;
  font-size: 1.3rem;
  background-color: #cef1ed;
  border-radius: 0.4rem;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: 'Fredoka One', sans-serif;
  color: #022521e4;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-right: 0;
}

.delete-icon,
.edit-icon {
  fill: #088274;
}

.btn-edit,
.btn-delete {
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
}

.btn-edit {
  background-color: #0cbaa6;
  color: #e7f8f6;
  box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn-delete {
  color: #0cbaa6;
  background-color: #e7f8f6;
  box-shadow: 0 0.2rem 0.2rem rgb(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn-edit:hover {
  cursor: pointer;
  color: #0cbaa6;
  background-color: #e7f8f6;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: #022521;
  color: #e7f8f6;
}
