@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;500;700&display=swap');

/* 

  primary color: #0cbaa6;
  tints: #e7f8f6;
  shades: #022521
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Fredoka One', sans-serif;
  background-color: #e7f8f6;
}
